.status--1 {
  background-color: #d9534f;
}

.status-0 {
  background-color: #337ab7;
}

.status-1 {
  background-color: #5cb85c;
}

.status-2 {
  background-color: #5cb85c;
}

.status-3 {
  background-color: #777;
}

.status-4 {
  background-color: #777;
}

.status-5 {
  background-color: #5bc0de;
}

.status-6 {
  background-color: #CCCCCC;
}

.status-7 {
  background-color: #CCCCCC;
}

.status-8 {
  background-color: #CCCCCC;
}

.status-9 {
  background-color: #CCCCCC;
}

.status-10 {
  background-color: #CCCCCC;
}

.font--1 {
  color: #d9534f;
}

.font-0 {
  color: #337ab7;
}

.font-1 {
  color: #5cb85c;
}

.font-2 {
  color: #5cb85c;
}

.font-3 {
  color: #777;
}

.font-4 {
  color: #777;
}

.font-5 {
  color: #5bc0de;
}

.font-6 {
  background-color: #CCCCCC;
}

.font-7 {
  background-color: #CCCCCC;
}

.font-8 {
  background-color: #CCCCCC;
}

.font-9 {
  background-color: #CCCCCC;
}

.font-10 {
  background-color: #CCCCCC;
}
