<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<script src="../resources/vendor/angular/1.5.7/angular.js"></script>

</head>
<body>
	<div ng-app="notesApp" ng-controller="MainCtrl as mainCtrl">
		<ul>
			<li ng-repeat="x in mainCtrl.items">{{$index}}
				<div>
					<ul>
						<li><!-- {{x}} --></li>
					</ul>
				</div>
			</li>
		</ul>
<input type="date" ng-model="mainCtrl.beginDate">
<input type="date" ng-model="mainCtrl.endDate">
<br/>
		<span>beginDate:{{mainCtrl.beginDate | date:'yyyy-MM-dd'}}</span> <br /> 
		<span>endDate:{{mainCtrl.endDate | date:'HH:mm:ss'}}</span>
	</div>


	<script>
		angular
				.module('notesApp', [])
				.controller(
						'MainCtrl',
						[
								'$http',
								function($http) {
									var self = this;
									self.items = [];
									$http
											.get(
													'http://localhost:8080/maven-web/equipment/')
											.then(
													function(response) {
														self.items = response.data;
													},
													function(errResponse) {
														console
																.error('Error while fetching equipment');
													});

									self.beginDate = new Date();
									self.endDate = new Date();
								} ]);
	</script>
</body>
</html>